
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-font-smoothing : none;
    font-weight: 800;
    background-color: rgb(26, 29, 54);
}
#top-div {
    display: flex;
    justify-content: center;
    background-color: rgb(26, 29, 54);
    color: white;
    font-size: 30px;
    border-bottom: 6px solid rgb(95, 41, 15);
    text-shadow: 1px 5px 1px rgb(95, 41, 15);
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    color: white;
    text-shadow: 2px 2px 2px rgb(95, 41, 15);
}
#choose-txt {
    margin-bottom: -10px;
    font-size: 55px;
}
#best-txt {
    font-size: 24px;
}
.imgs {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    background-color: blanchedalmond;
    border-bottom: 6px solid rgb(95, 41, 15);
    color: white;
    text-shadow: 2px 2px 2px rgb(95, 41, 15);
}
.res {
    font-size: 45px;
}
.cpu-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px
}
.player-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px
}
.border {
    display: flex;
    border: 3px solid rgb(95, 41, 15);
    background-color: white;
    justify-content: center;
    padding: 0px 38px;
    border-radius: 15%;
}
.ss {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.container {
    margin-top: 100px;
    background-color: rgb(26, 29, 54);
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}
#scissors-img {
    width: 95px;
    border: 4px solid blanchedalmond;
    margin-bottom: 5px
}
#paper-img {
    width: 95px;
    border: 4px solid blanchedalmond;
    margin-bottom: 5px
}#rock-img {
    width: 95px;
    border: 4px solid blanchedalmond;
    margin-bottom: 5px
}
#scissors {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 10%;
    border: 4px solid rgb(95, 41, 15)

}
.btns {
    background-color: blanchedalmond;
    color: white;
    text-shadow: 2px 2px 2px rgb(95, 41, 15);
    padding: 15px;
    font-size: 20px;
    border: none
}
#rock {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 10%;
    border: 4px solid rgb(95, 41, 15)
}
#paper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 10%;
    border: 4px solid rgb(95, 41, 15)
}
.btns:hover {
    font-size: 24px;
    cursor: pointer;
}
.result {
    padding-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#res-border {
    border: 2px solid rgb(95, 41, 15);
    background-color: rgb(95, 41, 15);
    width: 500px;
}
#winloss-el {
    text-shadow: 2px 2px 2px rgb(95, 41, 15);
    font-size: 20px; 
}
